.pageLogin {
  align-items: center;
  background-color: rgb(60, 143, 221);
  display: flex;
  flex-direction: column;
  padding: 16.35%;
}

.tittleLogin {
  align-items: center;
  background-color: rgb(60, 143, 221);
  display: flex;
  justify-content: center;
}

.tittleLogin h1 {
  background-color: rgb(60, 143, 221);
  font-size: 40px;
  margin-right: 5px;
}

.pageLogin > p {
  background-color: rgb(60, 143, 221);
  font-size: 30px;
  margin-right: 5px;
  margin-top: 0;
}

.pageLogin > button {
  background-color: black;
  color: white;
  height: 40px;
  width: 214px;
}

Input, button {  
  height: 30px;
  text-align: center;
}
