* {
  background-color: white;
  font-size: medium;
}

body {
  margin: 0;
}

* > button , input , select , option {
  background-color: rgb(221, 222, 223);
}

span {
  background-color: rgb(60, 143, 221);
  font-size: 30px;
  margin-left: 5px;
}
